/* --- All Pages --- */

:root
{
    /* Dark to Light gradient from --cg-01 to --cg-10 */
    --cg-01: rgb(22, 39, 48);
    --cg-02: rgb(25, 45, 56);
    --cg-03: rgb(29, 52, 64);
    --cg-04: rgb(33, 59, 72);
    --cg-05: rgb(36, 65, 81);
    --cg-06: rgb(40, 72, 89);
    --cg-07: rgb(44, 79, 98);
    --cg-08: rgb(47, 86, 107);
    --cg-09: rgb(51, 94, 116);
    --cg-10: rgb(55, 101, 125);
    --cg-testWh: rgb(255, 255, 255);
    --cg-testGr05: rgb(213, 213, 213);
    --cg-testGr04: rgb(170, 170, 170);
    --cg-testGr03: rgb(128, 128, 128);
    --cg-testGr02: rgb(85, 85, 85);
    --cg-testGr01: rgb(43, 43, 43);
    --cg-testBl: rgb(0, 0, 0);
}
    
body 
{
    background-color: var(--cg-testBl);
    color: beige;
    margin: 0;
    /*font-family: Sofia;*/
}

header
{
    background-color: var(--cg-testGr01);
    font-size: 5vw;
    padding: .2em;    
}

.discord_icon
{
    /*border: 1px solid yellow;*/
    background-image: url(confusedwizards_transparenttext.png);
    /*background-color: var(--cg-testWh);*/
    filter: invert(100%);
    width: auto;
    height: 25px;
    padding: 0;
    
}

.button_discord
{
    background: transparent;
    float: right;
    padding: inherit;
    margin-right: 25px;
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    /*padding: 5px 32px;*/
    /*text-align: center;*/
    /*text-decoration: underline;*/
    /*display: inline-block;*/
    /*font-size: 15px;*/
    transition-duration: 0.4s;
    /*margin: 0;*/
    /*margin-top: 30px;*/
}

p
{
    font-size: 10px;
    margin-top: 0;
}

.subHeader
{
    background-color: var(--cg-testGr02);
    margin: 0;
    font-size: 2vw;
    padding-left: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
}

.line_0
{
    border: 1px solid white;
    margin:10px;
}

/* --- Home_Temp CSS --- */

.column_all
{
    /*background-color: var(--cg-testBl);*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;    
}

.tl_top_0_0, .tm_top_1_0, .tr_top_2_0 /* Text Content */
{
    margin-top: 300px;
}

.tl_middle_0_0, .tm_middle_1_0, .tr_middle_2_0
{
    padding-left: 10px;
    padding-right: 10px;
}

.ml_middle_0_1, .mm_middle_1_1, .mr_middle_2_1
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.button_blm_0_2, .button_bmm_1_2, .button_brm_2_2
{
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 5px 32px;
    text-align: center;
    /*text-decoration: underline;*/
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.4s;
    margin: 0;
    margin-top: 30px;
}

button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,2), 0 17px 50px 0 rgba(0,0,0,1);
}

.column_l, .column_m, .column_r
{
    /*border: 1px solid blue;*/ /* Test Only */
    height: 86vh;
    padding: .25em;
}

.top_l, .middle_l, .bottom_l, .top_m, .middle_m, .bottom_m, .top_r, .middle_r, .bottom_r
{
    border: thin solid transparent; /* Test Only */
    width: 300px;
}

.top_l, .top_m, .top_r
{
    background-image: linear-gradient(var(--cg-testBl), var(--cg-testGr03));
}

.middle_l, .middle_m, .middle_r
{
    background-color: var(--cg-testGr02);
    text-align: center;
    word-wrap: normal;
    font-size: 40px;
    font-weight: bold;
}

.bottom_l, .bottom_m, .bottom_r
{
    background-image: linear-gradient(var(--cg-testGr01), var(--cg-testBl));
}

.top_l, .top_m, .top_r, .bottom_l, .bottom_m, .bottom_r
{
    height: 400px;
    text-align: center;  
}

/* --- Welcome_Temp CSS --- */

.top_welcome
{
    /*background-color: var(--cg-testWh);*/
    /*border: 1px solid red;*/ /* Test Only */

    display: flex;
    width: 850px;
    height: 86vh;

    /*justify-content: space-between;*/
    justify-content: center;
    margin: auto;   
    /*flex-direction: row; */   
    /*flex-direction: column;*/

    align-items: center;
}

.top_content, .middle_content, .bottom_content
{
    /*border: 1px solid yellow;*/ /* Test Only */
    /*height: 50px;
    width: 50px;*/
    width: auto;

}

.image_content
{
    /*border: 1px solid red;*/ /* Test Only */
    /*padding: 50px;
    margin-left: 2%;
    float: left;
    height: 40px;
    width: 40px;
    margin: auto;*/

    text-align: center;
    
}

.img_1
{
    /*padding-top: 100px;*/
    background-image: url(confusedwizards_transparenttext.png);
    background-color: var(--cg-testWh);
    /*border: 1px solid lime;*/ /* Test Only */
    /*display: grid;*/
    width: 250px;
    /*height: auto;*/
    
}

.welcome_text
{   
    /*border: 1px solid blue;*/
    /*margin: auto;*/
    margin-top: 15px;
    /*padding-left: 20%;*/
    width: 500px;
}

.top_content
{
    /*width: 100px;*/
}

.middle_content
{
    /*width: 100%;
    height: 50%;*/
    
    /*padding-top: 5em;
    padding-left: .05em;*/
}

/* --- Game_Temp CSS --- */

.top_game
{
    /*border: 1px solid red;*/ /* Test Only */
    /*margin-top: 50px;
    margin-left: 50px;*/
    /*display: flex;
    justify-content: center;*/
    /*align-items: center;*/
    /*padding-block: 50px;*/

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    width: 850px;
    height: auto;
   
    justify-content: center;
    margin: auto;
    

    align-items: center;

    /*text-align: center;*/
}

.middle_content_game
{
    /*border: 1px solid cyan;*/ /* Test Only */
}
.image_caption
{
    font-size: 12px;
    /*padding-left: 80px;*/
}

.game_title_0, .game_title_1
{
    /*border: 1px solid lime;*/ /* Test Only */
    width: 100px;
    
    margin: auto;
    width: 60%;
    
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.game_text_0, .game_text_1, .game_text_2
{
    /*border: 1px solid white;*/ /* Test Only */
    width: 500px;
    margin-top: 10px;
    margin: auto;
    
    /*align-items: center;*/
    /*padding-left: 100px;*/
}

.game_text_1
{
    /*margin-top: 10px;*/
    /*border: 1px solid magenta;*/ /* Test Only */
}

.game_text_2
{
    /*border: 1px solid yellow;*/ /* Test Only */
}

.game_text_0, .game_text_1, .game_text_2
{
    padding: 10px 0 10px 0;
}

.image_content_game, .image_content_game_0
{
    /*border: 1px solid orange;*/ /* Test Only */
    text-align: center; 
}

.img_2, .img_3
{
    /*border: 1px solid blue;*/ /* Test Only */
    height: 500px;
}

.img_4
{
    margin-top: 30px;
    height: 600px;
}

/* --- Team_Temp CSS --- */

.top_team
{
    border: 1px solid orange; /*Test Only */
    /*width: 100px;
    height: 500px;
    display: flex;
    margin: auto;*/

    padding-top: 50px;
    padding-bottom: 50px;
    padding: 100px 0 100px 0;
    display: flex;
    width: 850px;
    height: 200px;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.f_details
{
    border: 1px solid purple;
}

.felicia
{
    border: 1px solid red; /* Test Only */
}

.divider_0
{
    border: 1px solid white;
    width: 100px;
}

.jj
{
    border: 1px solid blue; /* Test Only */
}

.img_f, .img_j
{
    border: 1px solid lime;
    height: 100px;
}

/* Discord_Temp */

.top_discord
{
    /*border: 1px solid orange;*/ /*Test Only */
    /*width: 100px;
    height: 500px;
    display: flex;
    margin: auto;*/
/*
    padding-top: 50px;
    padding-bottom: 50px;*/
    padding: 100px 0 100px 0;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin: auto;
    align-items: center;
}